<% include ../header.html %>
<style>
    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .content {
        /*background-color: #E7EEE6;*/
        position: absolute;
        /*top: 2.8rem;*/
        top:0;
    }

    .content-block {
        padding: 0;
        margin: 0;
    }

    .classroom-list {
        margin: 0;
        padding: 0;
    }

    .classroom-list ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .classroom-list ul li {
        margin: 0.1rem 0 0 0;
        background-color: #FFFFFF;
        border-radius: 0 0 0.1rem 0.1rem;
    }

    .classroom-title {
        line-height: 1.25rem;
        font-family: 华文中宋;
        border-radius: 0 0 0.1rem 0.1rem;
        padding: 0.25rem 0.75rem;
        color:#000000;
    }

    .status-item{
        line-height: 16px;
        display: inline-block;
    }

    .status-icon{
        height: 16px;
        width: 16px;
        margin: 0px;
        float: left;
        text-align: center;
        outline: none;
        font-size: 0.75em;
        line-height:16px;
        color: blue;

        color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        cursor: default;
        margin: 0px auto;
        padding: 0px;
    }

    .status-description{
        color: #000000;
        font-size: 0.75em;
        height: 16px;
        line-height: 16px;
        margin: 0px 0px 0px 2px;
    }

    .seat-status{
        padding: 0.3125rem 0;

        z-index: 20;

        list-style: none;
        padding: 0;
        text-align: center;
    }


    .seat-operation{
        padding: 0.3125rem 0;

        right:0;

        z-index: 20;

        list-style: none;
        padding: 0;
        text-align: center;
    }

    .operation-select{
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #A00000;
        color: #A00000;
    }

    .card-footer{
        padding: 0rem 0.75rem;
    }

    .card-footer:before{
        height: 0px;
    }
</style>
<div class="page">
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%=openid%>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="content-block">
            <div class="classroom-list">
                <ul>
                    <% for ( var index = 0; index < classroomList.length; index++) { %>
                    <li>
                        <div class="classroom-title">
                            <div class="classroom-name"><%= classroomList[index].area_name %> <%= classroomList[index].classroom_name %></div>
                        </div>
                        <div class="card-footer">
                            <ul class="seat-status">
                                <li class="status-item"><span
                                            class="status-icon icon icon-blank-seat-small"></span><span
                                            class="status-description">空座 <%= classroomList[index].empty_seat_count%></span></li>
                                <li class="status-item"><span
                                            class="status-icon icon icon-boy-booked-small"></span><span
                                            class="status-description">男生 <%= classroomList[index].boy_order_count%></span></li>
                                <li class="status-item"><span
                                            class="status-icon icon icon-girl-booked-small"></span><span
                                            class="status-description">女生 <%= classroomList[index].girl_order_count%></span></li>
                            </ul>
                            <ul class="seat-operation" id="<%= classroomList[index].classroom_id %>">
                                <li class="operation-select">管理</li>
                            </ul>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }

    $(".seat-operation").tap(function () {
        window.location.assign("/0125/libraryClassroom/" + this.getAttribute('id')+'/'+'<%=openid%>'+'?t=today');
    });
</script>
<% include ../footer.html %>