<% include header.html %>
<style>
    .content-block{
        margin:0;
    }
</style>

<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%= openid %>?ip=<%= ip %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item active" id="skyTab" href="http://www.julyangel.cn/index/<%= openid %>?ip=<%= ip %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item" id="meTab" href="http://www.julyangel.cn/me/<%= openid %>?ip=<%= ip %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content" id="content">
        <div class="content-block" id="container">

        </div>
    </div>
</div>
<script type="text/x-handlebars-template" id="waterfall-tpl">
    {{#result}}
    <div class="item">
        <img src="{{image}}" width="{{width}}" height="{{height}}" />
    </div>
    {{/result}}
</script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/handlebars.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/jquery.easing.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/waterfall.js?v=201604202110' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<script>
    $('#content').css('width', this.window.innerWidth);

    $('#container').waterfall({
        debug:true,
        align:'center',
        itemCls: 'item',
        colWidth: (this.window.innerWidth-10)/2,
        gutterWidth: 5,
        gutterHeight: 5,
        checkImagesLoaded: false,
        isAnimated: true,
        minCol: 2,
        maxCol: 4,
        animationOptions: {
        },
        path: function(page) {
            return 'http://wlog.cn/demo/waterfall/data/data1.json?page=' + page;
        }
    });
</script>
<!--
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>

<script>
    $("#buildingTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/building");
    });
    $("#skyTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/index");
    });
    $("#meTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/me");
    });
</script>-->
<% include footer.html %>
