<% include header.html %>
<style>
    .content-block{
        margin:0;
    }

    .photo{
        position: fixed;
        right: 1rem;
        bottom: 4rem;
        z-index: 1000;
    }

    .icon-photo{
        color: #A00000;
        font-size: 2.4rem;
        display: block;
    }

    .photo-txt{
        color: #A00000;
    }

    .item-title{
        height: 40px;
        line-height: 40px;
    }

    .author-image{
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        padding: 0 10px;
        display: table-cell;
        margin: 0 10px 0 0;
    }

    .author-image img{
        vertical-align: middle;
        border-radius: 10px;
    }

    .author-name{
        height: 40px;
        line-height: 40px;
        display: table-cell;
    }

    div.reading-nav{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 2rem;
    }

    A.nav-item{
        width: 25%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        color: #000000;
        display: block;
        position: relative;
        font-size: .65rem;
    }

    .reading-nav .active{
        border-bottom:4px solid #A00000;
    }

    .nav-item-important{
        color: #A00000;
        font-size: .85rem;
    }

    .content{
        top:2.5rem;
    }
</style>

<div class="page">
    <div class="reading-nav">
        <a href="?t=today" class="nav-item active">书<span class="nav-item-important">摘</span></a>
        <a href="?t=tomorrow" class="nav-item">书<span class="nav-item-important">声</span></a>
        <a href="?t=tomorrow" class="nav-item">书<span class="nav-item-important">评</span></a>
        <a href="?t=tomorrow" class="nav-item">书<span class="nav-item-important">文</span></a>
    </div>
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%= openid %>?ip=<%= ip %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item active" id="skyTab" href="http://www.julyangel.cn/index/<%= openid %>?ip=<%= ip %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="http://www.julyangel.cn/me/<%= openid %>?ip=<%= ip %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content" id="content">
        <div class="content-block" id="container">

        </div>
    </div>
    <div class="photo" id="photo">
        <i class="icon icon-photo"></i>
        <span class="photo-txt">拍书摘</span>
    </div>
</div>
<script type="text/x-handlebars-template" id="waterfall-tpl">
    {{#result}}
    <div class="item">
        <img src="{{image}}" width="{{width}}" height="{{height}}" id="img_{{digestid}}" class="digest-img"/>
        <div class="item-title">
            <div class="author-image">
                <img src="{{authorimg}}" width="20" height="20"/>
            </div>
            <div class="author-name">
                {{authornickname}}
            </div>
        </div>
    </div>
    {{/result}}
</script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/jquery/dist/jquery.min.js' charset='utf-8'></script>
<script>var Zepto = jQuery</script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/handlebars.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/jquery.easing.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/waterfall.js?v=201604231857' charset='utf-8'></script>


<script>
    $.config = {
        autoInit: true,
        router: false
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= weiJSConfig.appId %>', // 必填，公众号的唯一标识
        timestamp: '<%= weiJSConfig.timestamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= weiJSConfig.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= weiJSConfig.signature %>',// 必填，签名，见附录1
        jsApiList: ['chooseImage','previewImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
</script>
<script>
    $('#content').css('width', this.window.innerWidth);
    $('#content').scroll(function(){
        $('#photo').hide();
        var timer = setTimeout(function(){
            $('#photo').show();
        }, 2000);
    });
    $('#container').waterfall({
        debug:true,
        itemCls: 'item',
        containerWidth:this.window.innerWidth,
        colWidth: (this.window.innerWidth-30)/2,
        gutterWidth: 10,
        gutterHeight: 15,
        checkImagesLoaded: false,
        isAnimated: true,
        isFadeIn: true,
        minCol: 2,
        maxCol: 4,
        bufferPixel:-50,
        animationOptions: {
        },
        callbacks: {
            renderData: function (data, width, dataType) {
                var tpl,
                    template;

                if ( data.total < data.pagesize) {
                    $('#container').waterfall('pause', function() {
                        $('#waterfall-message').html('<p style="color:#666;">点拍一拍，上传您的书摘</p>')
                    });
                }

                if ( dataType === 'json' ||  dataType === 'jsonp'  ) { // json or jsonp format
                    tpl = $('#waterfall-tpl').html();
                    template = Handlebars.compile(tpl);
                    for(var index = 0; index < data.result.length; index++){
                        var originalWidth = data.result[index].width;
                        data.result[index].width = width;
                        data.result[index].height = data.result[index].height*(data.result[index].width/originalWidth);
                    }
                    return template(data);
                } else { // html format
                    return data;
                }
            }
        },
        path: function(page) {

            return '/reading/digest/list/'+page;
        }
    });

    $(document).on('click', '.digest-img', function () {
        $('#container').waterfall('option',
                {
                    colWidth: $(window).innerWidth()-20,
                },
                function(){});
    });

    wx.ready(function () {
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        // wx.hideAllNonBaseMenuItem();
    });

    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

    });


    $(document).on('click', '#photo', function () {
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $.showPreloader('正在上传您的书摘,请稍候...');
                wx.uploadImage({
                    localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 0, // 默认为1，显示进度提示
                    success: function (res) {
                        $.post('/reading/digest/upload',
                                {
                                    openid:'<%=openid%>',
                                    imageID:res.serverId
                                },
                                function (response) {
                                    $.alert(response);
                                    $('#container').waterfall('reload', function() {
                                        $.hidePreloader();
                                    });
                                    //window.location.reload();
                                });
                    },
                    fail:function(err){
                        $.alert(err);
                        $.hidePreloader();
                        //window.location.reload();
                    }
                });
            },
            fail:function(err){
                $.alert(err);
                $.hidePreloader();
                //window.location.reload();
            }
        });
    });
</script>
<!--
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>

<script>
    $("#buildingTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/building");
    });
    $("#skyTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/index");
    });
    $("#meTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/me");
    });
</script>-->
<% include footer.html %>
