<% include header.html %>
<style>
    .item-subtitle span {
        padding: 0 1.25rem 0 0;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .content-block {
        margin: 0;
        padding: 0;
    }

    .item-text {
        padding: 0.5rem 0 0 0;
    }

    .item-text span {
        color: #FFFFFF;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.75rem;
        text-align: center;
    }

    .card-footer {
        color: #000000;
        background-color: #FFFFFF;
        text-align: right;
    }

    div.card-time:before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 0px;
        width: 100%;
        background-color: #924A4A;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    div.card-time {
        position: relative;
        padding: 0.5rem 0;
    }

    div.card-time-header {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        color: #000000;
    }

    div.card-time-status {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.25rem;
        color: #000000;
    }

    .building-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
    }

    .selected-seat-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
        font-size: 0.75em;
        width: 40%;
        display: inline-block;
        font-weight: bold;
    }

    .seat-status{
        line-height: 1.25rem;
        color: #A00000;
        font-size: .75em;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    span.date-info {
        color: #A00000;
        padding: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.comment-info {
        margin: 0 0 0 0.325rem;
        font-size: 0.75em;
    }

    .operation-release, .operation-leave {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        margin-bottom: 0.55rem;
    }

    .operation-modify-leave, .operation-finish-leave,
    .operation-cancel-leave, .operation-detail-leave {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        margin-bottom: 0.55rem;
    }

    .left_part {
        width: 72%;
        float: left;
        line-height: 1rem;
        padding: 0.3125rem;
        font-family: 华文中宋;
        border-right: 1px dashed #332331;
        height: 4.5rem;
        background-color: #F7F7F8;
    }

    .cancel {
        background: url('../images/quxiao.png') no-repeat center;
    }

    .zanli {
        background: url('../images/zanli.png') no-repeat center;
    }

    .right_part {
        width: 28%;
        float: left;
        padding: 0.55rem 0 0 0;
        text-align: center;
        background-color: #FFEC88;
        height: 4.5rem;
    }

    .card {
        background-color: #FFFFFF;
        color: #000000;
        height: 4.5rem;
        margin: 0 0 .2rem 0;
    }

    .date-row {

    }

    .content-block-title{
        margin: 0;
        padding: .85rem;
        background-color: #FFFFFF;
        color:#A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .content-block-title:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .content-block-title+.card{
        margin-top: 0;
    }

    .list-block .item-media{
        padding: 0;
    }

    .list-block .item-inner{
        padding: 0;
        min-height: 0;
    }

    .list-block .item-inner:after{
        height: 0px;
    }

    .item-real-info{
    }

    span.start-date-info, span.end-date-info {
        padding: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.leave-status{
        color: #A00000;
        padding: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }
</style>
<script>
    function getSeatLable(row, column) {
        if (row < 10) {
            row = '0' + row;
        }
        else {
            row = row + '';
        }
        if (column < 10) {
            column = '0' + column;
        }
        else {
            column = column + '';
        }

        //return firstSeatLabel++;
        return row + column;
    }
</script>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index/<%=openid%>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item active" id="meTab" href="http://www.julyangel.cn/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list" style="margin: 0;">
            <ul>
                <li style="background: url('../images/headerbg.jpg') no-repeat; background-size: 100%; padding: 1.25rem">
                    <a href="#" class="item-link item-content" style="background-color: rgba(0,0,0,0.4)">
                        <div class="item-media"><img src="<%= userInfo.headimgurl.replace('/0', '/64') %>"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"></div>
                            </div>
                            <div class="item-subtitle">
                                <span><%= userInfo.nickname %></span><span><%= userInfo.province %></span></div>
                            <div class="item-text"><span><%= userInfo.city %></span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-block">

            <div class="list-block cards-list">
                <ul id="seat_tickets">
                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-me"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">实名信息</div>
                            <div class="item-real-info"><a href="realInfo/<%=openid%>">实名认证 ></a></div>
                        </div>
                    </div>

                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-my-seat"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我的座位</div>
                            <div class="item-real-info"><a href="building/<%=openid%>">预约座位 ></a></div>
                        </div>
                    </div>

                    <% for(var index = 0; index < userSeatOrders.length; index++){ %>

                    <li class="card">
                        <div class="left_part">
                            <div class="date-row">
                                <span class="building-info"><%= userSeatOrders[index].full_name %></span>
                            </div>
                            <div class="date-row">
                                <span class="selected-seat-info"
                                      id="selectedSeatInfo">
                                     <%= userSeatOrders[index].seat_code %> 号</span>
                                <span class="seat-status">
                                <% if (userSeatOrders[index].status == -1) {%>
                                    已取消
                                <%} else if(userSeatOrders[index].status == 1) {%>
                                    正常
                                <%} else if(userSeatOrders[index].status == -2) {%>
                                    系统释放
                                <%} else if(userSeatOrders[index].status == 2) {%>
                                    <%= userSeatOrders[index].leave_time.toLocaleTimeString()%> 暂离
                                <%}%>
                                </span>
                            </div>
                            <div class="date-row">
                                <span class="date-info"><%= userSeatOrders[index].start_time.toLocaleDateString() %></span>
                                <span class="comment-info">[当天有效 本人使用]</span>
                            </div>
                        </div>
                        <div class="right_part">
                            <div class="operation-release" id="release_<%= userSeatOrders[index].order_id %>">释放</div>
                            <div class="operation-leave" id="leave_<%= userSeatOrders[index].order_id %>">暂离</div>
                        </div>
                    </li>
                    <% } %>


                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-leave-application"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我的假条</div>
                            <div class="item-real-info"><a href="applyLeave/<%=openid%>">我要请假 ></a></div>
                        </div>
                    </div>

                    <% for(var index = 0; index < leaveApplications.length; index++){ %>

                    <li class="card">
                        <div class="left_part">
                            <div class="date-row">
                                <span class="start-date-info">开始时间: <%= leaveApplications[index].start_time.toLocaleString()%></span>
                            </div>
                            <div class="date-row">
                                <span class="end-date-info">截止时间: <%= leaveApplications[index].end_time.toLocaleString()%></span>
                            </div>
                            <div class="date-row">
                                <span class="leave-status">当前状态:
                                    <%if(leaveApplications[index].status == 0){%>
                                        已提交待审核
                                    <%} %>
                                </span>
                            </div>
                        </div>
                        <div class="right_part">
                            <%  if(leaveApplications[index].status == 0)    {   %>
                                <div class="operation-modify-leave" id="release_<%= leaveApplications[index].application_id %>">修改</div>
                                <div class="operation-cancel-leave" id="release_<%= leaveApplications[index].application_id %>">撤回</div>
                            <%  }   %>
                            <%  if(leaveApplications[index].status == 1)    {   %>
                                <div class="operation-detail-leave" id="release_<%= leaveApplications[index].application_id %>">详情</div>
                                <div class="operation-finish-leave" id="leave_<%= leaveApplications[index].application_id %>">销假</div>
                            <%  }   %>
                        </div>
                    </li>

                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<script>
    /*$("#buildingTab").tap(function () {
     window.location.assign("http://www.julyangel.cn/building2");
     });
     $("#skyTab").tap(function () {
     window.location.assign("http://www.julyangel.cn/index");
     });
     $("#meTab").tap(function () {
     window.location.assign("http://www.julyangel.cn/me2");
     });*/

    $(document).on('click', '.operation-release', function () {
        var order_arr = this.id.split('_');
        var order_id = order_arr[1];
        $.confirm('真是一个好孩纸 不用了就是应该如此 让给其他小伙伴来用 赞一个', '释放座位',
                function () {
                    /*确定释放座位*/
                    $.showPreloader('释放座位中，请稍候...');

                    $.post('release',
                            {orderID: order_id},
                            function (response) {
                                $.hidePreloader();
                                $.alert(response);
                                window.location.reload();
                            });
                });
    });

    $(document).on('click', '.operation-leave', function () {
        var order_arr = this.id.split('_');
        var order_id = order_arr[1];
        $.confirm('暂离期间座位会为你保留两个小时 如果未能按时回座位 座位会被自动释放', '暂离',
                function () {
                    /*确定释放座位*/
                    $.showPreloader('设置暂离中，请稍候...');

                    $.post('leave',
                            {orderID: order_id},
                            function (response) {
                                $.hidePreloader();
                                $.alert(response);
                                window.location.reload();
                            });
                });
    });
</script>
<% include footer.html %>