<% include header.html %>
<style>

    .content-block {
        margin: 0;
        padding: 0;
        top: 2.2rem;
        position: relative;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .card-content-inner {
        padding: 0.75rem;
        text-align: center;
    }

    .card-footer {
        color: #000000;
        background-color: #FFFFFF;
        text-align: right;
    }

    .building-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
    }

    .credit-score-title{
        line-height: 2rem;
        padding: 0.25rem 0.75rem;
    }

    .credit-score-info {
        line-height: 2rem;
        padding: 0.25rem 0rem;
        font-weight: bold;
    }

    .selected-seat-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
        font-size: 0.75em;
        width: 40%;
        display: inline-block;
        font-weight: bold;
    }

    .seat-status {
        line-height: 1.25rem;
        color: #A00000;
        font-size: .75em;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    span.date-info {
        /*color: #A00000;*/
        padding: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.comment-info {
        margin: 0 0 0 0.325rem;
        font-size: 0.75em;
    }

    .operation-release, .operation-leave, .operation-sign, .operation-log {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        /*margin-bottom: 0.55rem;*/
    }

    .operation-release, .operation-leave, .operation-sign, .operation-log {
        margin-bottom: .5rem;
    }

    .operation-approve-leave, .operation-reject-leave {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        text-align: center;
    }

    .seat-content{
        width: 100%;
        margin: 0;
        padding: 0;
        display: -webkit-flex; /* Safari */
        display: inline-flex;
    }

    .left_part {
        width: 72%;
        line-height: 1rem;
        padding: 0.3125rem;
        font-family: 华文中宋;

        background-color: #FFFFFF;
        float: left;
    }

    .right_part {
        width: 28%;
        padding: 0.55rem 0 0 0;
        text-align: center;
        background-color: #E2E1D0;
        float: left;
        border-left: 1px dashed #332331;
    }

    .card {
        background-color: #FFFFFF;
        color: #000000;
        /*height: 4.5rem;*/
        margin: 0 0 .2rem 0;
    }

    .date-row {

    }

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border-left: 4px solid #A00000;
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .content-block-title + .card {
        margin-top: 0;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .list-block .item-media {
        padding: 0;
    }

    .list-block .item-inner {
        padding: 0;
        min-height: 0;
    }

    .list-block .item-inner:after {
        height: 0px;
    }

    .item-text {
        padding: 0.5rem 0 0 0;
    }

    .item-subtitle span {
        padding: 0 1.25rem 0 0;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .item-text span {
        color: #FFFFFF;
    }

    .item-real-info {
    }

    span.leave-status {
        margin: 0.25rem 0.75rem;
        padding: .25rem .5rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.leave-wait-for {
        color: #A00000;
        background-color: #E6DEB3;
    }

    span.leave-approve {
        color: #A00000;
        background-color: #7CDA95;
    }

    span.leave-reject {
        color: #E6DEB3;
        background-color: #A00000;
    }

    .icon-list .icon {
        display: inline-block;
        box-sizing: border-box;
        width: 32%;
        text-align: center;
    }

    .icon-list .icon-circle {
        display: block;
        margin: 0 auto .45rem auto;
        width: 2rem;
        height: 2rem;
        border-radius: 10rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1.3rem;
        color: #20211B;
        background-color: #E6DEB3;
    }

    .icon-list .icon-desc {
        text-align: center;
        font-size: .65rem;
        color: #666;
    }

    span.leave-important {
        text-decoration: underline;
    }

    .approve-leave-operation-list .approve-leave-operation {
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        text-align: center;
    }

    .my-leave-operation-list .my-leave-operation {
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        text-align: center;
    }

    span.leave-approve-by {
        text-decoration: underline;
    }

    .list-block ul ul{
        padding: 0;
    }

    .seat-message{
        margin: 0;
        padding: 0.25rem 0.5rem;
        font-size: 0.75em;
        /*background-color: #A00000;*/
        color: #A00000;
        text-align: justify;

    }

    .card-footer{
        padding: 0;
        min-height: unset;
    }
</style>

<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="/building/<%= openid %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%= openid %>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item active" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content" style="background-color: #FFFFFF">
        <!--<div class="list-block media-list" style="margin: 0;">
            <ul style="padding: 0;">
                <li style="background: url('../images/headerbg.jpg') no-repeat; background-size: 100%; padding: 1.25rem">
                    <a href="#" class="item-link item-content" style="background-color: rgba(0,0,0,0.4)">
                        <div class="item-media"><img src="<%= userInfo.headimgurl.replace('/0', '/64') %>"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"></div>
                            </div>
                            <div class="item-subtitle">
                                <span><%= userInfo.nickname %></span><span><%= userInfo.province %></span></div>
                            <div class="item-text"><span><%= userInfo.city %></span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>-->
        <header class="bar bar-nav">
            <h1 class="title">我的</h1>
        </header>

        <div class="content-block">
            <!--<ul class="icon-list" style="padding: 1rem 0;padding: 0.7rem 0;margin: 0;">
                <% if(userInfo.status == 0) { %>
                <li class="icon">
                    <a style="display: block" href="/me/verifySheet/<%= openid %>">
                        <span class="icon icon-circle icon-me"></span>
                        <span class="icon-desc">实名认证</span>
                    </a>
                </li>
                <% } else{ %>
                <li class="icon">
                    <a style="display: block" href="/me/info/<%= openid %>">
                        <span class="icon icon-circle icon-me"></span>
                        <span class="icon-desc">身份信息</span>
                    </a>
                </li>
                <% } %>
                <li class="icon">
                    <a style="display: block" href="/building/<%= openid %>">
                        <span class="icon icon-circle icon-building"></span>
                        <span class="icon-desc">自习座位</span>
                    </a>
                </li>
                <li class="icon">
                    <a style="display: block" href="leaveSheet/<%= openid %>?ip=<%= ip %>">
                        <span class="icon icon-circle icon-leave-application"></span>
                        <span class="icon-desc">请假申请</span>
                    </a>
                </li>
            </ul>-->

            <div class="list-block cards-list">
                <ul id="seat_tickets">
                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-credit-card"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">个人信息</div>
                            <% if(userInfo.status == 0) { %>
                                <div class="item-real-info"><a href="/me/verifySheet/<%= openid %>">实名认证 ></a></div>
                            <% } else{%>
                                <div class="item-real-info"><a href="/me/info/<%= openid %>">身份信息 ></a></div>
                            <% }%>
                        </div>
                    </div>
                    <li class="card" style="background-color: #FFFFFF">
                        <div class="card-content">
                            <ul class="seat-content">
                                <li class="left_part" style="padding: 0">
                                    <div class="date-row">
                                        <span class="credit-score-title">我的信用分:</span><span class="credit-score-info"><%= userInfo.credit_score %>分</span>
                                    </div>
                                </li>
                                <li class="right_part">
                                    <div style="clear: both"></div>
                                    <div class="level"></div>
                                </li>
                                <div style="clear: both"></div>
                            </ul>
                        </div>
                    </li>

                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-my-seat"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我的座位</div>
                            <div class="item-real-info"><a href="/me/oldSeat/<%= openid %>">历史座位 ></a></div>
                        </div>
                    </div>

                    <% if (userSeatOrders.length > 0) { %>

                    <% for(var index = 0; index < userSeatOrders.length; index++){ %>

                    <li class="card" style="background-color: #FFFFFF">
                        <div class="card-content">
                            <ul class="seat-content">
                                <li class="left_part" style="padding: 0">
                                    <div class="date-row">
                                        <span class="building-info"><%= userSeatOrders[index].full_name %></span>
                                    </div>
                                    <div class="date-row">
                                        <span class="selected-seat-info" id="selectedSeatInfo">
                                            <%= userSeatOrders[index].seat_code %> 号</span>
                                        <span class="seat-status">
                                            <% if (userSeatOrders[index].status == -1) { %>
                                                已退座
                                            <% } else if(userSeatOrders[index].status == 1) { %>
                                                <%= userSeatOrders[index].order_time.toLocaleTimeString('en-US', {hour12:false}) %> 预约
                                            <% } else if(userSeatOrders[index].status == -2) { %>
                                                系统回收
                                            <% } else if(userSeatOrders[index].status == 2) { %>
                                                <%= userSeatOrders[index].sign_time.toLocaleTimeString('en-US', {hour12:false}) %> 签到
                                            <% } else if(userSeatOrders[index].status == 3) { %>
                                                <%= userSeatOrders[index].leave_time.toLocaleTimeString('en-US', {hour12:false}) %> 暂离
                                            <% } else if(userSeatOrders[index].status == 0) { %>
                                                <%= userSeatOrders[index].order_time.toLocaleTimeString('en-US', {hour12:false}) %> 临时
                                            <% } %>
                                        </span>
                                    </div>
                                    <div class="date-row">
                                        <span class="date-info"><%= userSeatOrders[index].start_time.getMonth()+1 %> 月 <%= userSeatOrders[index].start_time.getDate() %> 日</span>
                                        <span class="comment-info">[当天有效 本人使用]</span>
                                    </div>

                                </li><li class="right_part">
                                    <div style="clear: both"></div>
                                    <% if (userSeatOrders[index].status == 1) { %>
                                        <div class="operation-sign" id="leave_<%= userSeatOrders[index].order_id %>">签到
                                        </div>
                                        <div class="operation-release" id="release_<%= userSeatOrders[index].order_id %>">
                                            退座
                                        </div>
                                        <!--<div class="operation-log" id="log_<%= userSeatOrders[index].order_id %>">日志
                                        </div>-->
                                    <% } else if (userSeatOrders[index].status == 2) { %>
                                        <div class="operation-leave" id="leave_<%= userSeatOrders[index].order_id %>">暂离
                                        </div>
                                        <div class="operation-release" id="release_<%= userSeatOrders[index].order_id %>">
                                            退座
                                        </div>
                                        <!--<div class="operation-log" id="log_<%= userSeatOrders[index].order_id %>">日志
                                        </div>-->
                                    <% } else if (userSeatOrders[index].status == 3) { %>
                                        <div class="operation-sign" id="leave_<%= userSeatOrders[index].order_id %>">签到
                                        </div>
                                        <div class="operation-release" id="release_<%= userSeatOrders[index].order_id %>">
                                            退座
                                        </div>
                                        <!--<div class="operation-log" id="log_<%= userSeatOrders[index].order_id %>">日志
                                        </div>-->
                                    <% } %>
                                </li>
                                <div style="clear: both"></div>
                            </ul>
                            <% if (userSeatOrders[index].status == 3) {%>
                            <div class="card-footer date-row">
                                <p class="seat-message"><!--<i class="icon icon-warn"  style="color: #A00000; padding-right: .5rem" ></i>--><b>注意:  </b>请于<%= userSeatOrders[index].schedule_recover_time.toLocaleString('en-US', {hour12:false})%>前返回签到，过时座位将被系统回收</p>
                            </div>
                            <%} else if((userSeatOrders[index].status == 1)) {%>
                            <div class="card-footer date-row">
                                <p class="seat-message"><!--<i class="icon icon-warn"  style="color: #A00000; padding-right: .5rem" ></i>--><b>注意:  </b>请于<%= userSeatOrders[index].schedule_recover_time.toLocaleString('en-US', {hour12:false})%>前扫码签到，过时座位将被系统回收</p>
                            </div>
                            <%}%>
                        </div>
                    </li>
                    <% } %>

                    <% } %>

                    <!-- <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-leave-application"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我的假条</div>
                            <div class="item-real-info"><a href="/me/oldLeave/<%= openid %>">历史假条 ></a></div>
                        </div>
                    </div>

                    <% if (leaveApplications.length > 0) { %>

                    <% for(var index = 0; index < leaveApplications.length; index++){ %>

                    <li class="card" style="height: auto; background-color: #FFFFFF; ">
                        <div class="card-content">
                            <div class="card-content-inner"
                                 style="text-align: justify; line-height: 1.25rem;font-size:0.625rem;color:#666">
                                <span class="leave-important"><%= leaveApplications[index].applier_real_name %></span>
                                [<%= leaveApplications[index].mobile %>]
                                于
                                <span class="leave-important"><%= leaveApplications[index].start_time.toLocaleString() %></span>
                                至
                                <span class="leave-important"><%= leaveApplications[index].end_time.toLocaleString() %></span>
                                申请请假。请假<span
                                        class="leave-important">事由</span>：[<%= leaveApplications[index].application_reason %>
                                ]。请假去往<span
                                        class="leave-important">地点</span>:[<%= leaveApplications[index].address %>
                                ]。

                                <div class="data-row" style="text-align: right; font-size:0.625rem;">
                                    <% if(leaveApplications[index].status == 0){ %>
                                    <span class="leave-status leave-wait-for">
                                        待审核
                                     </span>
                                    <% } else if(leaveApplications[index].status == 1){ %>
                                    <span class="leave-status leave-approve">
                                        准假
                                    </span>
                                    <span class="leave-approve-by">
                                        审核人: <%= leaveApplications[index].approve_by_name %>
                                    </span>
                                    <% } else if(leaveApplications[index].status == -1){ %>
                                    <span class="leave-status leave-reject">
                                        不准
                                    </span>
                                    <span class="leave-approve-by">
                                        审核人: <%= leaveApplications[index].approve_by_name %>
                                    </span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% if(leaveApplications[index].status == 0) { %>
                        <div class="card-footer" style="text-align: center; margin: 0 auto; background-color: #E2E1D0">
                            <ul class="my-leave-operation-list" style="width: 100%; margin: 0; padding: 0">
                                <li class="my-leave-operation">
                                    <span class="operation-reject-leave"
                                          id="detail_<%= leaveApplications[index].application_id %>">删除
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <% } %>
                    </li>

                    <% } %>

                    <% } %>

                    <% if(userInfo.manage_class_count > 0) { %>
                    <div class="content-block-title">
                        <div class="item-media">
                            <i class="icon icon-leave-application"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">待审假条</div>
                            <div class="item-real-info"><a href="/me/checkedLeave/<%= openid %>">已审假条 ></a></div>
                        </div>
                    </div>

                    <% for(var index = 0; index < waitForApprovedLeaveApplications.length; index++){ %>

                    <li class="card" style="height: auto; background-color: #FFFFFF">
                        <div class="card-content">
                            <div class="card-content-inner"
                                 style="text-align: justify; line-height: 1.25rem;font-size:0.625rem;color:#666"><span
                                        class="leave-important"><%= waitForApprovedLeaveApplications[index].applier_real_name %></span>
                                [<%= waitForApprovedLeaveApplications[index].mobile %>]
                                于
                                <span class="leave-important"><%= waitForApprovedLeaveApplications[index].start_time.toLocaleString() %></span>
                                至
                                <span class="leave-important"><%= waitForApprovedLeaveApplications[index].end_time.toLocaleString() %></span>
                                申请请假。请假<span
                                        class="leave-important">事由</span>：[<%= waitForApprovedLeaveApplications[index].application_reason %>
                                ]。请假去往<span
                                        class="leave-important">地点</span>:[<%= waitForApprovedLeaveApplications[index].address %>
                                ]。
                            </div>
                        </div>
                        <div class="card-footer" style="text-align: center; margin: 0 auto; background-color: #E2E1D0">
                            <ul class="approve-leave-operation-list" style="width: 100%; margin: 0; padding: 0">
                                <li class="approve-leave-operation">
                                    <span class="operation-reject-leave"
                                          id="detail_<%= waitForApprovedLeaveApplications[index].application_id %>">驳回
                                    </span>
                                </li>
                                <li class="approve-leave-operation">
                                    <span class="operation-approve-leave"
                                          id="detail_<%= waitForApprovedLeaveApplications[index].application_id %>">同意
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <% } %>
                    <% } %>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js' charset='utf-8'></script>

<script>
    $.config = {
        autoInit: true,
        router: false
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= weiJSConfig.appId %>', // 必填，公众号的唯一标识
        timestamp: '<%= weiJSConfig.timestamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= weiJSConfig.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= weiJSConfig.signature %>',// 必填，签名，见附录1
        jsApiList: ['hideMenuItems', 'scanQRCode', 'onMenuShareTimeline',
            'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
            'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        wx.hideMenuItems( {menuList: ['menuItem:copyUrl','menuItem:openWithQQBrowser','menuItem:openWithSafari', 'menuItem:favorite']} );

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: '选座位 查教室', // 分享标题
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });

    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });

    $(document).on('click', '.operation-release', function () {
        var order_arr = this.id.split('_');
        var order_id = order_arr[1];
        $.confirm('真是一个好孩纸 不用了就是应该如此 让给其他小伙伴来用 赞一个', '释放座位',
                function () {
                    /*确定释放座位*/
                    $.showPreloader('释放座位中，请稍候...');

                    $.post('/seat/release',
                            {
                                openid:'<%= openid %>',
                                orderID: order_id
                            },
                            function (response) {
                                $.hidePreloader();
                                $.alert(response);
                                window.location.reload();
                            });
                });
    });

    $(document).on('click', '.operation-sign', function () {
        wx.scanQRCode({
            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
            }
        });
    });

    $(document).on('click', '.operation-leave', function () {
        var order_arr = this.id.split('_');
        var order_id = order_arr[1];
        $.showPreloader('设置暂离中，请稍候...');

        $.post('/seat/leave',
                {
                    openid:'<%= openid %>',
                    orderID: order_id
                },
                function (response) {
                    $.hidePreloader();
                    $.alert(response);
                    window.location.reload();
                });
    });

    $(document).on('click', '.operation-approve-leave', function () {
        var application_arr = this.id.split('_');
        var application_id = application_arr[1];
        $.confirm('您确认要批准该请假申请吗?', '批准请假',
                function () {
                    /*确定释放座位*/
                    $.showPreloader('批准申请中，请稍候...');

                    $.post('approveLeave',
                            {
                                applicationID: application_id,
                                openid: '<%= openid %>'
                            },
                            function (response) {
                                $.hidePreloader();
                                $.alert(response);
                                window.location.reload();
                            });
                });
    });

    $(document).on('click', '.operation-reject-leave', function () {
        var application_arr = this.id.split('_');
        var application_id = application_arr[1];
        $.prompt('请填写驳回该请假申请的原因?', '驳回请假',
                function () {
                    /*确定释放座位*/
                    $.showPreloader(' 驳回申请中，请稍候...');

                    $.post('rejectLeave',
                            {
                                applicationID: application_id,
                                openid: '<%= openid %>'
                            },
                            function (response) {
                                $.hidePreloader();
                                $.alert(response);
                                window.location.reload();
                            });
                });
    });

</script>
<% include footer.html %>