<% include header.html %>
<style>
    .item-subtitle span {
        padding: 0 1.25rem 0 0;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .content-block{
        margin: 0;
        padding: 0;
    }

    .item-text {
        padding: 0.5rem 0 0 0;
    }

    .item-text span {
        color: #FFFFFF;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .bar {
        background-color: #FFFFFF;
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        background-color: #33475F;
    }

    .card {
        background-color: #FFFFFF;
        color: #000000;
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.75rem;
        text-align: center;
    }

    .card-footer {
        color: #000000;
        background-color: #FFFFFF;
        text-align: center;
    }
    div.card-time:before{
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 0px;
        width: 100%;
        background-color: #924A4A;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    div.card-time{
        position: relative;
        padding: 0.5rem 0;
    }

    div.card-time-header{
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        color: #000000;
    }

    div.card-time-status{
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.25rem;
        color: #000000;
    }

    .building-info{
        font-weight: bold;
    }

    .selected-seat-info{
        margin: 0 0.325rem;
    }

    span.date-info{
        color: #C41E04;
    }
    span.comment-info{
        margin: 0 0 0 0.325rem;
    }
</style>
<script>
    function getSeatLable(row, column) {
        if (row < 10) {
            row = '0' + row;
        }
        else {
            row = row + '';
        }
        if (column < 10) {
            column = '0' + column;
        }
        else {
            column = column + '';
        }

        //return firstSeatLabel++;
        return row + column;
    }
</script>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building2" external>
            <span class="icon icon-home"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index" external>
            <span class="icon icon-settings"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item active" id="meTab" href="http://www.julyangel.cn/me2" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list" style="margin: 0;">
            <ul>
                <li style="background: url('../images/headerbg.jpg') no-repeat; background-size: 100%; padding: 1.25rem">
                    <a href="#" class="item-link item-content" style="background-color: rgba(0,0,0,0.4)">
                        <div class="item-media"><img src="<%= userInfo.headimgurl.replace('/0', '/64') %>"/></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title"></div>
                            </div>
                            <div class="item-subtitle">
                                <span><%= userInfo.nickname %></span><span><%= userInfo.province %></span></div>
                            <div class="item-text"><span><%= userInfo.city %></span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="list-block cards-list">
                <ul id="seat_tickets">
                    <% for(var index = 0; index < userSeatOrders.length; index++){ %>

                    <li class="card">
                        <div class="card-header">
                            <div style="width: 30%">座位券</div>
                            <div style="width: 70%;">
                                <span class="date-info"><%= userSeatOrders[index].start_time.toLocaleDateString() %></span>
                                <span class="comment-info">[当天有效 本人使用]</span>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-content-inner">
                                <span class="building-info"><%= userSeatOrders[index].full_name %></span>
                                <span class="selected-seat-info" id="selectedSeatInfo"><%= getSeatLable(userSeatOrders[index].row_no, userSeatOrders[index].column_no)%> (第三排第三列)</span></div>
                        </div>
                        <div class="card-time">
                            <div class="card-time-header">8:00</div>
                            <div class="card-time-header">10:00</div>
                            <div class="card-time-header">14:00</div>
                            <div class="card-time-header">16:00</div>
                            <div class="card-time-header">19:00</div>
                            <div class="card-time-header">~</div>
                            <div class="card-time-header">~</div>
                            <div class="card-time-header">~</div>
                            <div class="card-time-header">~</div>
                            <div class="card-time-header">~</div>
                            <div class="card-time-header">10:00</div>
                            <div class="card-time-header">12:00</div>
                            <div class="card-time-header">16:00</div>
                            <div class="card-time-header">18:00</div>
                            <div class="card-time-header">21:00</div>
                            <div class="card-time-status">空闲</div>
                            <div class="card-time-status">空闲</div>
                            <div class="card-time-status">空闲</div>
                            <div class="card-time-status">空闲</div>
                            <div class="card-time-status">空闲</div>
                        </div>
                        <div class="card-footer" id="order-operation"></div>
                    </li>

                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='/scripts/zepto.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }

</script>
<script type='text/javascript' src='/scripts/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>

<script>
    $("#buildingTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/building2");
    });
    $("#skyTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/index");
    });
    $("#meTab").tap(function () {
        window.location.assign("http://www.julyangel.cn/me2");
    });
</script>
<% include footer.html %>