<% include ../header.html %>
<style>
    .list-block{
        margin: 0;
    }
    .card-photo-wrapper{
        text-align: center;
        width: 70%;
        height: 6rem;
        line-height: 6rem;
        border: 1px dashed #123456;
        margin: 0 auto;
    }

    .card-photo{
        height: 6rem;
        padding: .25rem;
    }
</style>
<div class="page">
    <header class="bar bar-nav">
        <h1 class='title'>身份信息</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%=openid%>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item active" id="meTab" href="/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block">
            <ul>
                <!-- Text inputs -->
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">身份</div>
                            <div class="item-input">
                                <% if (userInfo.type == 1) {%>
                                    学生
                                <%} else {%>
                                    老师
                                <%}%>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">院系</div>
                            <div class="item-input">
                                <%= userInfo.department_name%>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">班级</div>
                            <div class="item-input">
                                <%= userInfo.class_name%>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <%= userInfo.real_name%>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">学号</div>
                            <div class="item-input">
                                <%= userInfo.user_code%>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content" style="padding: .25rem;">
                        <div id="card-photo-wrapper" class="card-photo-wrapper">
                            <img class="card-photo" id="card-photo" src="http://store.julyangel.cn/<%=userInfo.verify_image%>">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>