<% include ../header.html %>
<style>
    .list-block{
        margin: 0;
    }

    .card-photo-wrapper{
        text-align: center;
        width: 70%;
        height: 6rem;
        line-height: 6rem;
        border: 1px dashed #123456;
        margin: 0 auto;
    }

    .card-photo{
        height: 6rem;
        padding: .25rem;
    }
</style>
<div class="page">
    <header class="bar bar-nav">
        <h1 class='title'>实名认证</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index/<%=openid%>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item active" id="meTab" href="http://www.julyangel.cn/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">类别</div>
                            <div class="item-input">
                                <input type="text" placeholder="选择您的身份类别" id="type-input" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label"><span id="department_title">院系</span></div>
                            <div class="item-input">
                                <input type="text" placeholder="选择您所在的院系" id="department-picker" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label"><span id="class_title">班级</span></div>
                            <div class="item-input">
                                <input type="text" placeholder="选择您所在的班级" id="class-picker" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">姓名</div>
                            <div class="item-input">
                                <input type="text" placeholder="输入真实姓名" id="name-input">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">学号</div>
                            <div class="item-input">
                                <input type="text" placeholder="输入学号" id="code-input">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content" style="padding: .25rem;">
                        <div id="card-photo-wrapper" class="card-photo-wrapper">
                            <span style="position: absolute; width: 100%; left: 0; top: 0; z-index: 999">校园卡拍照</span>
                            <img class="card-photo" id="card-photo">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-50"><a href="/me/<%=openid%>" class="button button-big button-fill button-danger">取消</a></div>
                <div class="col-50"><a href="#" class="button button-big button-fill button-success" id="submit-btn">提交</a></div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js' charset='utf-8'></script>

<script>
    var photoServerID;

    $.config = {
        autoInit: true,
        router: false
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= weiJSConfig.appId %>', // 必填，公众号的唯一标识
        timestamp: '<%= weiJSConfig.timestamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= weiJSConfig.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= weiJSConfig.signature %>',// 必填，签名，见附录1
        jsApiList: ['chooseImage','previewImage','uploadImage','downloadImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    $(document).on('click', '#submit-btn', function () {
        $.showPreloader('亲,我们正在提交你的信息,请稍候...');
        $.post('submitInfo',
               {
                  openid:'<%=openid%>',
                  name:$('#name-input')[0].value,
                  code:$('#code-input')[0].value,
                  department:$('#department-picker')[0].value,
                  classs:$('#class-picker')[0].value
               },
               function (response) {
                   $.hidePreloader();
                   alert(response);
               });
    });

    $("#type-input").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">请选择您的身份类别</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: ['学生','老师']
            }
        ],
        onClose:function(){
            if($("#type-input")[0].value == '老师'){
                $.showPreloader('获取部门列表...');
            }else{
                $.showPreloader('获取院系列表...');
            }

            if($("#type-input")[0].value == '老师'){
                $('#department_title')[0].innerHTML = '部门';
                $('#class_title')[0].innerHTML = '科室';
                $('#department-picker')[0].placeholder = '选择所在的部门';
                $('#class-picker')[0].placeholder = '选择所在的科室';

            }else{
                $('#department_title')[0].innerHTML = '院系';
                $('#class_title')[0].innerHTML = '班级';
                $('#department-picker')[0].placeholder = '选择所在的院系';
                $('#class-picker')[0].placeholder = '选择所在的班级';
            }
            $.post('department',
                    {
                        type: $('#type-input')[0].value
                    },
                    function (response) {
                        var departmentArray = response.split(',');
                        $("#department-picker").data('picker', null);
                        $("#department-picker").picker({
                            toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">亲，请选择你所在的学院</h1>\
                          </header>',
                            cols: [
                                {
                                    textAlign: 'center',
                                    values: departmentArray
                                }
                            ],
                            onClose: function () {
                                if($("#type-input")[0].value == '老师'){
                                    $.showPreloader('获取科室列表...');
                                }else{
                                    $.showPreloader('获取班级列表...');
                                }
                                $.post('class',
                                        {
                                            department: $('#department-picker')[0].value
                                        },
                                        function (response) {
                                            var classArray = response.split(',');
                                            $("#class-picker").data('picker', null);
                                            $("#class-picker").picker({
                                                toolbarTemplate: '<header class="bar bar-nav">\
                                              <button class="button button-link pull-left"></button>\
                                              <button class="button button-link pull-right close-picker">确定</button>\
                                              <h1 class="title">亲，请选择你所在的班级</h1>\
                                              </header>',
                                                cols: [
                                                    {
                                                        textAlign: 'center',
                                                        values: classArray
                                                    }
                                                ]
                                            });
                                            $.hidePreloader();
                                        });
                            }
                        });
                        $.hidePreloader();
                    });
        }
    });



    wx.ready(function () {
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        // wx.hideAllNonBaseMenuItem();
    });

    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

    });

    $(document).on('click', '#card-photo-wrapper', function () {
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $("#card-photo").attr('src', localIds[0]);

                wx.uploadImage({
                    localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                    isShowProgressTips: 1, // 默认为1，显示进度提示
                    success: function (res) {
                        photoServerID = res.serverId; // 返回图片的服务器端ID
                    }
                });
            }
        });
    });
</script>
<% include ../footer.html %>
