<% include ../header.html %>
<style>
    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .card {
        background-color: #F5F5F5;
        color: #000000;
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.35rem;
        text-align: center;
    }

    .card-footer {
        color: #4C3517;
        background-color: #EFD4D4;
    }

    .content {
        /*background-color: #E7E9ED;*/
        background-color: #FFFFFF;
    }

    .content-block {
        padding: 0;
        margin: 0;
    }

    .item-content {
        background-color: #FFFFFF;
        /*margin: 0 1rem 0 1rem;*/
    }

    /*.content-block-title{
        margin: 0.7rem 0.75rem;
        text-align: center;
        font-size: .8rem;
        color: #A00000;
    }*/

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        /*border-left: 4px solid #A00000;*/
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .content-block-title + .card {
        margin-top: 0;
    }

    .list-block{
        margin: 0;
    }

    .list-block .item-content{
        -webkit-justify-content:flex-start;
        justify-content: flex-start;
        padding-right: .75rem;
    }

    .list-block .item-media{
        padding: 0;
        margin-right: .25rem;
        font-size: 1rem;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .list-block .item-inner {
        padding: 0;
        min-height: 0;
    }

    .list-block .item-inner:after {
        height: 0px;
    }

    .list-block ul ul{
        padding: 0;
    }

    .building-radio-item{
        width: 33%;
        float: left;
    }

    .building-name{
        text-align: center;
    }

    .section-checkbox-item{
        width: 50%;
        float: left;
    }

    .operation-card {
        /*background-color: #E2E1D0;*/
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .operation {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .operation {
        width: 100%;
    }

    .operation-btn {
        display: inline-block;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        text-align: center;
        height: 1.5rem;
        line-height: 1.5rem;
    }

    .slide-img-wrapper{
        position: relative;
    }

    .slide-img{
        width: 100%;
        display: block;
    }

    .author-wrapper{
        padding: .25rem .75rem;
        text-align: right;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(200,200,200,.5);
    }

    .author{
        font-size: .5rem;
        color:#000000;
    }

    .notice-wrapper{
        padding: 0.45rem 0.45rem 0.75rem 0.45rem;
        /* text-align: right; */
        width: 100%;
        /* background: rgb(222, 139, 139); */
        line-height: 1rem;
        background: #E7E9ED;
    }

    .notice-message{
        margin: 0;
        padding: 0.5rem 0.5rem;
        font-size: 0.5em;
        background-color: #5B7D6D;
        color: #FFFFFF;
        text-align: justify;
    }

    .icon-list .icon {
        display: inline-block;
        box-sizing: border-box;
        width: 25%;
        text-align: center;
    }

    .icon-list .icon-circle {
        display: block;
        margin: 0 auto .45rem auto;
        width: 2rem;
        height: 2rem;
        border-radius: 10rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        color: #A00000;
        background-color: #E7E9ED;
    }

    .icon-list .icon-desc {
        text-align: center;
        font-size: .65rem;
        color: #666;
    }
</style>
<div class="page">
    <!--<header class="bar bar-nav theme-dark">
        <h1 class="title">教室导航</h1>
    </header>-->
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>?v=2" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%= openid %>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="slide-img-wrapper">
            <img class="slide-img" src="/images/slide.jpg"/>
            <div class="author-wrapper">
                <span class="author">研控计1522班 刘虔 摄</span>
            </div>
        </div>
        <div class="content-block">
            <div class="list-block cards-list">
                <ul>
                    <div class="notice-wrapper">
                        <p class="notice-message"><b>后勤管理处通知: </b>近期值用电高峰, 我校教一楼、一食堂、图书馆共用一个箱变, 由于箱变负荷总量的限制, 为保证学学生考试及饮食的正常供电, 自6月21日至放假, 每日11：00-12：00, 16：00-17：00, 图书馆楼空调关闭。
                        </p>
                    </div>
                </ul>
            </div>

            <ul class="icon-list" style="padding: 1rem 0;padding: 0.7rem 0;margin: 0;">
                <li class="icon">
                    <a style="display: block" href="/seat/rules/<%= openid %>">
                        <span class="icon icon-circle icon-rule"></span>
                        <span class="icon-desc">用座规则</span>
                    </a>
                </li>
                <li class="icon">
                    <a style="display: block" href="/libraryZones/<%= openid %>">
                        <span class="icon icon-circle icon-order"></span>
                        <span class="icon-desc">图书馆</span>
                    </a>
                </li>
                <li class="icon">
                    <a style="display: block" href="/emptyClassroom/<%=schoolID%>/-1/111111/<%=openid%>">
                        <span class="icon icon-circle icon-classroom"></span>
                        <span class="icon-desc">空教室</span>
                    </a>
                </li>
                <li class="icon">
                    <a style="display: block" href="#">

                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js' charset='utf-8'></script>

<script>
    $.config = {
        autoInit: true,
        router: false
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= weiJSConfig.appId %>', // 必填，公众号的唯一标识
        timestamp: '<%= weiJSConfig.timestamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= weiJSConfig.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= weiJSConfig.signature %>',// 必填，签名，见附录1
        jsApiList: ['hideMenuItems', 'scanQRCode', 'onMenuShareTimeline',
            'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
            'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        wx.hideMenuItems( {menuList: ['menuItem:copyUrl','menuItem:openWithQQBrowser','menuItem:openWithSafari', 'menuItem:favorite']} );

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: '选座位 查教室', // 分享标题
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });

    $("#zone-picker").picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">请选择教学楼区域</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: [
                    <% for (var i = 0; i < zones.length; i++){ %>
                    '<%= zones[i] %>',
                    <% } %>
                    ]
            }
        ],
        onClose:function(){

        }
    });

    $(document).on('click', '#search-btn', function () {
        var msg = new Array();
        if(!$('#zone-picker')[0].value){
            msg.push('请选择教学楼区域');
        }
        if(!$('#section1_chkBox')[0].checked &&
           !$('#section2_chkBox')[0].checked &&
           !$('#section3_chkBox')[0].checked &&
           !$('#section4_chkBox')[0].checked &&
           !$('#section5_chkBox')[0].checked){
            msg.push('至少要选择一个时间段');
        }
        if(msg.length>0){
            $.alert(msg.join('<br/>'),'请根据下面的提示修改之后再提交');
        }else{
            var sectionStr = '';
            if($('#section1_chkBox')[0].checked){
                sectionStr += '0';
            }else{
                sectionStr += '.';
            }
            if($('#section2_chkBox')[0].checked){
                sectionStr += '0';
            }else{
                sectionStr += '.';
            }
            if($('#section3_chkBox')[0].checked){
                sectionStr += '0';
            }else{
                sectionStr += '.';
            }
            if($('#section4_chkBox')[0].checked){
                sectionStr += '0';
            }else{
                sectionStr += '.';
            }
            if($('#section5_chkBox')[0].checked){
                sectionStr += '0';
            }else{
                sectionStr += '.';
            }

            window.location.assign('/emptyClassroom/'+'<%=schoolID%>'+'/'+$('#zone-picker')[0].value+'/'+sectionStr+'/'+'<%=openid%>');
        }
    })
</script>
<% include ../footer.html %>