<% include ../header.html %>
<style>
    .card {
        background-color: #A61000;
        color: #ffffff;
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.35rem;
        text-align: center;
    }

    .card-footer {
        color: #4C3517;
        background-color: #EFD4D4;
    }

    div.card-time:before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 1px;
        width: 100%;
        background-color: #924A4A;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    div.card-time {
        position: relative;
        padding: 0.625rem 0;
    }

    div.card-time-header {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        color: #FFCEA6;
    }

    div.card-time-status {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.25rem;
        color: #FFCEA6;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .content {
        /*background-color: #7A9665;*/
        padding: 1rem 0 0 0;
        background-color: #E7E9ED;
        top: 2rem;
        bottom: 4rem;
    }

    .bar-tab~.content{
        bottom: 4rem;
    }

    div.date-nav{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 2rem;
    }

    A.date-item{
        width: 50%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        color: #000000;
        display: block;
        position: relative;
    }

    .date-nav .active{
        color:#00B7FF;
        border-bottom:1px solid #0894ec;
    }

    .rules{
        list-style-type: georgian;
    }

    .rule{

    }

    .direction-row{
        text-align: center;
        color:#A00000;
    }
</style>
<div class="page">
    <div class="date-nav">
        <% if (type == 'tomorrow') { %>
        <a href="?t=today" class="date-item">今天 <%= today.toLocaleDateString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) %></a>
        <a href="?t=tomorrow" class="active date-item">明天 <%= nextDay.toLocaleDateString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) %></a>
        <% } else { %>
        <a href="?t=today" class="active date-item">今天 <%= today.toLocaleDateString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) %></a>
        <a href="?t=tomorrow" class="date-item">明天 <%= nextDay.toLocaleDateString('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}) %></a>

        <% } %>
    </div>

    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%=openid%>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div id="content-wrapper">
            <div class="direction-row">
                <span class="icon icon-direction"></span><span><%= classroom.direction%></span>
            </div>

            <div id="seat-map">
                <ul id="seat-list">

                </ul>
            </div>
        </div>
    </div>
    <div class="seatCharts-legend">
        <ul class="seatCharts-legendList">
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-blank-seat-small"></span><span
                        class="seatCharts-legendDescription">座位</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-windows-small"></span><span
                        class="seatCharts-legendDescription">窗子</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-power-small"></span><span
                        class="seatCharts-legendDescription">插座</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-boy-booked-small"></span><span
                        class="seatCharts-legendDescription">男生</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-girl-booked-small"></span><span
                        class="seatCharts-legendDescription">女生</span></li>
        </ul>
    </div>
</div>
<div class="panel panel-right panel-reveal" style="background-color: #1D2025">
    <div class="content-block">
        <div class="list-block cards-list">
            <ul id="seat_tickets">
                <li class="card">
                    <div class="card-header">
                        <div style="width: 50%">座位券</div>
                        <% if (type == 'tomorrow') { %>
                        <div style="width: 50%"><%= nextDay.toLocaleDateString() %></div>
                        <% } else { %>
                        <div style="width: 50%"><%= today.toLocaleDateString() %></div>
                        <% } %>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner"><%= classroom['full_name'] %></div>
                        <div class="card-content-inner"><span id="selectedSeatInfo"></span></div>
                    </div>
                    <div class="card-footer" id="order-operation">仅限本人使用 点击领取</div>
                </li>
            </ul>
        </div>
        <p style="text-align: center"><b>《文明用座规范》</b></p>
        <p>
            1、<b>预约</b>座位后请在指定时间之前扫码签到, 过时未签到，系统回收座位重新分配。预约签到时间规定如下:
        </p>
        <p>
            <ul class="rules">
                <li class="rule">8:00前预约当日座位, 需8:30前扫码签到</li>
                <li class="rule">8:00后预约当日座位, 需30分钟内扫码签到</li>
                <li class="rule">预约次日座位, 需次日8:30之前扫码签到</li>
            </ul>
        </p>
        <p>
            2、暂离请扫码设置暂离, 并在指定时间之前返回扫码签到, 过时未签到, 系统回收座位重新分配。未扫码暂离, 他人可扫码获得此座, 你将被记录违规一次。暂离签到时间规定如下:
        </p>
        <p>
            <ul class="rules">
                <li class="rule">午餐午休时段: 11:00 ~ 14:00 暂离, 需14:00 前扫码签到</li>
                <li class="rule">晚餐洗浴时段: 17:00 ~ 19:00 暂离, 需19:00 前扫码签到</li>
                <li class="rule">其它时段暂离, 需半小时内扫码签到</li>
            </ul>
        </p>
        <p>
            3、座位不再使用, 请扫码退座。未退座, 他人可扫码获得此座, 你将被记录违规一次。
        </p>
        <p>
            4、累计三次违规, 禁用本系统一个星期。
        </p>
        <p>
            5、七玥请各位小伙伴自觉遵守《规范》, 珍惜同学缘分, 文明使用座位, 共享资源, 快乐学习。您有任何建议可发送至2858212885@qq.com。
        </p>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/ajax.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<script type="text/javascript" src="/scripts/jquery.seat-charts.js?v=201605291641"></script>
<script>
    var columnIndex = 1,
        rowIndex = 1,
        rowSeatIndex = 1,
        selectedSeatRowID = 0,
        selectedSeatColumnID = 0,
        selectedSeatCode='';

    $(document).ready(function () {
        var //$cart = $('#selected-seats'),
        // $counter = $('#counter'),
        // $total = $('#total'),
                sc = $('#seat-list').seatCharts({
                    map: [
                        <% for (var i = 0; i < map.length; i++){ %>
                        '<%= map[i] %>',
                        <% } %>
                    ],
                    seats: {
                        a: {
                            //price   : 100,
                            classes: 'icon icon-blank-seat-large', //your custom CSS class
                            category: 'normal-seat'
                        },
                        m: {
                            classes: 'icon icon-window-power-large', //your custom CSS class
                            category: 'windows-power'
                        },
                        t: {
                            classes: 'booked-seat-teaching',
                            category: 'booked-seat-teaching'
                        },
                        b: {
                            classes: 'icon icon-girl-booked-large',
                            category: 'booked-seat-girl'
                        },
                        B: {
                            classes: 'icon icon-boy-booked-large',
                            category: 'booked-seat-boy'
                        },
                        s: {
                            classes: 'icon icon-girl-booked-large',
                            category: 'booked-seat-girl'
                        },
                        S: {
                            classes: 'icon icon-boy-booked-large',
                            category: 'booked-seat-boy'
                        },
                        l: {
                            classes: 'icon icon-girl-booked-large',
                            category: 'booked-seat-girl'
                        },
                        L: {
                            classes: 'icon icon-boy-booked-large',
                            category: 'booked-seat-boy'
                        },
                        w:{
                            classes:'icon icon-windows-large',
                            category:'windows'
                        },
                        p:{
                            classes:'icon icon-power-large',
                            category:'power'
                        },
                        e:{
                            classes:'icon icon-empty',
                            category:'empty'
                        }
                    },
                    naming: {
                        // whether display cloumn header, true to display, false not to display
                        // 是否显示列头行，true 显示， false 不显示
                        top: false,
                        // whether display row header, true to display, false not to display
                        // 是否显示行头列，true 显示， false 不显示
                        left: false,
                        // 2015-12-26 CHEN PU: 重写座位编号算法为行号+列号
                        getLabel: function (character, row, column) {
                            if(row != 0){
                                if(row != rowIndex){
                                    rowIndex = row;
                                    rowSeatIndex = 1;
                                }
                                if (row < 10) {
                                    row = '0' + row;
                                }
                                else {
                                    row = row + '';
                                }

                                if(character !=  'w' &&
                                   character !=  'p' &&
                                   character !=  'e'){
                                    if (rowSeatIndex < 10) {
                                        column = '0' + rowSeatIndex++;
                                    }
                                    else {
                                        column = rowSeatIndex++ + '';
                                    }

                                    return row + column;
                                }else{
                                    return '';
                                }
                            }
                            else{
                                return '';
                            }
                        },
                    },
                    /*legend: {
                     //node : $('#legend'),
                     items: [
                     ['a', 'available16', '空座'],
                     ['b', 'booked-seat-boy16', '已订（男生）'],
                     ['g', 'booked-seat-girl16', '已订（女生）'],
                     ['t', 'booked-seat-teaching16', '有课'],
                     ]
                     },*/
                    click: function () {
                        if (this.style() == 'available') {
                            //let's create a new <li> which we'll add to the cart items
                            //$('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
                            //        .attr('id', 'cart-item-'+this.settings.id)
                            //        .data('seatId', this.settings.id)
                            //        .appendTo($cart);

                            /*
                             * Lets update the counter and total
                             *
                             * .find function will not find the current seat, because it will change its stauts only after return
                             * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                             */
                            //$counter.text(sc.find('selected').length+1);
                            //$total.text(recalculateTotal(sc)+this.data().price);

                            /*sc.find('selected').style('available');*/
                            var selectedSeatID = this.node()[0].id;
                            selectedSeatCode = this.node()[0].children[2].innerText;
                            var selectedSeatInfo = selectedSeatID.split('_');
                            selectedSeatRowID = selectedSeatInfo[0];
                            selectedSeatColumnID = selectedSeatInfo[1];

                            //$('#selectedSeatInfo').text(selectedSeatCode + '号 [' + '第' + selectedSeatRowID + '排，第' + selectedSeatColumnID + '列]');
                            $('#selectedSeatInfo').text(selectedSeatCode + '号');
                            $.openPanel();

                            return 'selected';
                        } else if (this.style() == 'selected') {
                            //update the counter
                            //$counter.text(sc.find('selected').length-1);
                            //and total
                            //$total.text(recalculateTotal(sc)-this.data().price);

                            //remove the item from our cart
                            //$('#cart-item-'+this.settings.id).remove();

                            //seat has been vacated
                            return 'available';
                        } else if (this.style() == 'unavailable') {
                            //seat has been already booked
                            return 'unavailable';
                        } else {
                            return this.style();
                        }
                    }
                });

        //this will handle "[cancel]" link clicks
        //$('#selected-seats').on('click', '.cancel-cart-item', function () {
        //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
        //sc.get($(this).parents('li:first').data('seatId')).click();
        //});

        //let's pretend some seats have already been booked
        //sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');

        //根据手机屏幕自适应缩放
        var clientWidth = document.documentElement.clientWidth;
        var initialContentWidth = $('#content-wrapper').width();
        if (initialContentWidth > clientWidth) {
            $('#content-wrapper').attr('style', '-webkit-transform:scale(' + clientWidth / initialContentWidth + ');-webkit-transform-origin:top left;');
            //$('front-indicator').width(clientWidth);
        }
    });


    $("#order-operation").tap(function () {
        if (selectedSeatRowID > 0 &&
                selectedSeatColumnID > 0) {
            $.showPreloader('提交预约申请...');
            $.post('/seat/order', {
                openid:'<%=openid%>',
                classroom: '<%= cid %>',
                row: selectedSeatRowID,
                column: selectedSeatColumnID,
                seatCode:selectedSeatCode,
                type: '<%= type %>'
            }, function (response) {
                $.hidePreloader();
                alert(response);
                window.location.reload();
            });

        } else if (selectedSeatRowID == 0 ||
                selectedSeatColumnID == 0) {
            $.alert('请用手指触摸选择您想预约的座位');
        }
        else if (!$('#picker')[0].value) {
            $.alert('请选择您计划的预约时间');
        }

    });

</script>

<% include ../footer.html %>


