<% include ../header.html %>
<style>
    .card {
        background-color: #A61000;
        color: #ffffff;
    }

    .card {
        background-color: #A61000;
        color: #f7f7f8;
    }

    .seat-status-card {
        /*background-color: #f7f7f8;*/
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        display: -webkit-inline-flex; /* Safari */
        display: inline-flex;
        /*border-left: 4px solid #A00000;*/
    }

    .seat-status-card li {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
        font-size: .8rem;
    }

    .seat-operation-card {
        /*background-color: #E2E1D0;*/
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-operation-card li {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .seat-operation {
        width: 100%;
    }

    .seat-opertion-btn {
        display: inline-block;
        width: 50%;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        background-color: #f7f7f8;
        text-align: center;
        height: 1.5rem;
        line-height: 1.5rem;
    }


    .card-header {
        padding: 0 .75rem;
        font-size: 0.6rem;
    }


    .card-content-inner {
        padding: 0.35rem;
        text-align: center;
    }

    .seat {
        width: 50%;
        float: left;
    }

    .status {
        width: 50%;
        float: left;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .content {
        /*background-color: #7A9665;*/
        padding: 1rem 0 0 0;
        background-color: #E7E9ED;
        top: 2rem;
        bottom: 4rem;
    }

    .bar-tab ~ .content {
        bottom: 4rem;
        padding: 0;
    }

    div.date-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 2rem;
    }

    A.date-item {
        width: 50%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        color: #000000;
        display: block;
        position: relative;
    }

    .date-nav .active {
        color: #00B7FF;
        border-bottom: 1px solid #0894ec;
    }

    .rules {
        list-style-type: georgian;
    }

    .rule {

    }

    .open-time-row {
        text-align: center;
        font-size: .75rem;
        padding: .45rem 0;
    }

    .direction-row {
        text-align: center;
        color: #A00000;
    }

    .seat-log-list {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-log {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-log li {
        display: table-cell;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
        font-size: .75rem;
    }

    .user-header-img {
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
        display: table-cell;
    }

    .user-header-img img {
        vertical-align: middle;
        border-radius: 10px;
        margin: 0 .3rem;
    }

    .log-time {

    }

    span.time {
        margin-right: .3rem;
    }

    .log-msg {
    }

    .date-title{
        margin: .5rem;
        text-align: center;
        font-family: fantasy;
        color: #B3B778;
    }
</style>
<div class="page">
    <div class="date-nav">
        <% if (type == 'tomorrow') { %>
        <a href="?t=today" class="date-item">今天 <%= today.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            }) %></a>
        <a href="?t=tomorrow" class="active date-item">明天 <%= nextDay.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            }) %></a>
        <% } else { %>
        <a href="?t=today" class="active date-item">今天 <%= today.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            }) %></a>
        <a href="?t=tomorrow" class="date-item">明天 <%= nextDay.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric'
            }) %></a>

        <% } %>
    </div>

    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%= openid %>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="open-time-row">
            <% if(openType == 1) { %>
            <span style="margin-right: .5rem">开门:</span><span style="margin-right: .5rem"><%= openTime %></span><span
                    style="margin-right: .5rem">关门:</span><span><%= closeTime %></span>
            <% } else{ %>
            <span><%= msg %></span>
            <% } %>
        </div>
        <div id="content-wrapper">
            <div class="direction-row">
                <span class="icon icon-direction"></span><span><%= classroom.direction %></span>
            </div>
            <div id="seat-map">
                <ul id="seat-list">

                </ul>
            </div>
        </div>
    </div>
    <div class="seatCharts-legend">
        <ul class="seatCharts-legendList">
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-blank-seat-small"></span><span
                        class="seatCharts-legendDescription">座位</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-windows-small"></span><span
                        class="seatCharts-legendDescription">窗子</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-power-small"></span><span
                        class="seatCharts-legendDescription">插座</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-boy-booked-small"></span><span
                        class="seatCharts-legendDescription">男生</span></li>
            <li class="seatCharts-legendItem"><span
                        class="seatCharts-seat-legend seatCharts-cell-legend icon icon-girl-booked-small"></span><span
                        class="seatCharts-legendDescription">女生</span></li>
        </ul>
    </div>
</div>

<div id="panel_right" class="panel panel-right panel-reveal" style="background-color: #1D2025">
    <div class="content-block">

        <!--<ul id="seat_tickets">
                <li class="card">
                    <div class="card-header">
                        <div style="width: 50%">座位券</div>
                        <% if (type == 'tomorrow') { %>
                        <div style="width: 50%"><%= nextDay.toLocaleDateString() %></div>
                        <% } else { %>
                        <div style="width: 50%"><%= today.toLocaleDateString() %></div>
                        <% } %>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner"><%= classroom['full_name'] %></div>
                        <div class="card-content-inner"><span id="selectedSeatInfo"></span></div>
                    </div>
                    <div class="card-footer" id="order-operation">仅限本人使用 点击领取</div>
                </li>
            </ul>-->

        <% if (type == 'tomorrow') { %>
        <div class="date-title"><%= nextDay.toLocaleDateString() %></div>
        <% } else { %>
        <div class="date-title"><%= today.toLocaleDateString() %></div>
        <% } %>
        <div class="card">
            <div class="card-header">
                <ul class="seat-status-card">
                    <li class="seat" style="text-align: left;">
                        <span id="seat-no-span"></span>
                    </li>
                    <li class="status">
                        <span id="seat-status-span"></span>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="card-content-inner"  id="operation-content-wrapper">
                    <ul class="seat-operation-card">
                        <li class="seat-operation">

                        </li>
                    </ul>
                </div>
                <div class="card-content-inner" id="msg-content-wrapper" style="line-height: 1.5rem; text-align: justify;"><%= msg %></div>
            </div>
        </div>


        <ul id="seat_log_list" class="seat-log-list">

        </ul>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/touch.js' charset='utf-8'></script>
<script type='text/javascript' src='/scripts/ajax.js' charset='utf-8'></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.1.0.js' charset='utf-8'></script>

<script>
    $.config = {
        autoInit: true,
        router: false
    }

    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '<%= weiJSConfig.appId %>', // 必填，公众号的唯一标识
        timestamp: '<%= weiJSConfig.timestamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= weiJSConfig.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= weiJSConfig.signature %>',// 必填，签名，见附录1
        jsApiList: ['hideMenuItems', 'scanQRCode', 'onMenuShareTimeline',
            'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo',
            'onMenuShareQZone'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function () {
        wx.hideMenuItems( {menuList: ['menuItem:copyUrl','menuItem:openWithQQBrowser','menuItem:openWithSafari', 'menuItem:favorite']} );

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: '关注七玥天使 选座位 查教室 方便又快捷', // 分享标题
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室 方便又快捷', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室 方便又快捷', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室 方便又快捷', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({
            title: '七玥天使', // 分享标题
            desc: '选座位 查教室 方便又快捷', // 分享描述
            link: 'http://campus.julyangel.cn', // 分享链接
            imgUrl: 'http://campus.julyangel.cn/images/subscribe-img.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    });

    wx.error(function (res) {
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
    });
</script>
<script type="text/javascript" src="/scripts/jquery.seat-charts.js?v=201605291810"></script>
<script>
    var columnIndex = 1,
            rowIndex = 1,
            rowSeatIndex = 1,
            selectedSeatRowID = 0,
            selectedSeatColumnID = 0,
            selectedSeatCode = '';

    $(document).ready(function () {
        var //$cart = $('#selected-seats'),
        // $counter = $('#counter'),
        // $total = $('#total'),
                sc = $('#seat-list').seatCharts({
                    map: [
                        <% for (var i = 0; i < map.length; i++){ %>
                        '<%= map[i] %>',
                        <% } %>
                    ],
                    seats: {
                        a: {
                            //price   : 100,
                            classes: 'icon icon-blank-seat-large', //your custom CSS class
                            category: 'normal-seat'
                        },
                        m: {
                            classes: 'icon icon-window-power-large', //your custom CSS class
                            category: 'windows-power'
                        },
                        t: {
                            classes: 'booked-seat-teaching',
                            category: 'booked-seat-teaching'
                        },
                        b: {
                            classes: 'icon icon-girl-booked-large',
                            category: 'booked-seat-girl'
                        },
                        B: {
                            classes: 'icon icon-boy-booked-large',
                            category: 'booked-seat-boy'
                        },
                        s: {
                            classes: 'icon icon-girl-signed-large',
                            category: 'booked-seat-girl'
                        },
                        S: {
                            classes: 'icon icon-boy-signed-large',
                            category: 'booked-seat-boy'
                        },
                        l: {
                            classes: 'icon icon-girl-leaved-large',
                            category: 'booked-seat-girl'
                        },
                        L: {
                            classes: 'icon icon-boy-leaved-large',
                            category: 'booked-seat-boy'
                        },
                        w: {
                            classes: 'icon icon-windows-large',
                            category: 'windows'
                        },
                        p: {
                            classes: 'icon icon-power-large',
                            category: 'power'
                        },
                        e: {
                            classes: 'icon icon-empty',
                            category: 'empty'
                        }
                    },
                    naming: {
                        // whether display cloumn header, true to display, false not to display
                        // 是否显示列头行，true 显示， false 不显示
                        top: false,
                        // whether display row header, true to display, false not to display
                        // 是否显示行头列，true 显示， false 不显示
                        left: false,
                        // 2015-12-26 CHEN PU: 重写座位编号算法为行号+列号
                        getLabel: function (character, row, column) {
                            if (row != 0) {
                                if (row != rowIndex) {
                                    rowIndex = row;
                                    rowSeatIndex = 1;
                                }
                                if (row < 10) {
                                    row = '0' + row;
                                }
                                else {
                                    row = row + '';
                                }

                                if (character != 'w' &&
                                        character != 'p' &&
                                        character != 'e' &&
                                        character != 'm') {
                                    if (rowSeatIndex < 10) {
                                        column = '0' + rowSeatIndex++;
                                    }
                                    else {
                                        column = rowSeatIndex++ + '';
                                    }

                                    return row + column;
                                } else {
                                    return '';
                                }
                            }
                            else {
                                return '';
                            }
                        },
                    },
                    click: function () {
                        var selectedSeatID = this.node()[0].id;
                        selectedSeatCode = this.node()[0].children[2].innerText;
                        var selectedSeatInfo = selectedSeatID.split('_');
                        selectedSeatRowID = selectedSeatInfo[0];
                        selectedSeatColumnID = selectedSeatInfo[1];
                        $("#seat-no-span").text(selectedSeatCode);
                        $.showPreloader('获取信息...');

                        $.post('/libraryClassroom/seat/status',
                                {
                                    classroomID: '<%= cid %>',
                                    seatCode: selectedSeatCode,
                                    type: '<%= type %>',
                                    canOrder:'<%= canOrder%>'
                                },
                                function (response) {

                                    var responseArr = response.split('#'),
                                        seatStatus =  responseArr[1],
                                        canOrder = responseArr[0];
                                    if(seatStatus == 0){
                                        $("#seat-status-span").text('空座');
                                        if(canOrder == 1){
                                            $('.seat-operation')[0].innerHTML = '';
                                            $('.seat-operation').append("<div class=\"seat-opertion-btn\" id=\"order-operation\">预约</div>");
                                            $('#operation-content-wrapper').css('display', 'block');

                                            $("#order-operation").tap(function () {
                                                if (selectedSeatRowID > 0 &&
                                                        selectedSeatColumnID > 0) {
                                                    $.showPreloader('提交预约申请...');
                                                    $.post('/seat/order', {
                                                        openid: '<%= openid %>',
                                                        classroom: '<%= cid %>',
                                                        row: selectedSeatRowID,
                                                        column: selectedSeatColumnID,
                                                        seatCode: selectedSeatCode,
                                                        type: '<%= type %>'
                                                    }, function (response) {
                                                        $.hidePreloader();
                                                        alert(response);
                                                        window.location.reload();
                                                    });

                                                } else if (selectedSeatRowID == 0 ||
                                                        selectedSeatColumnID == 0) {
                                                    $.alert('请用手指触摸选择您想预约的座位');
                                                }
                                            });
                                        }
                                        else{
                                            $('#msg-content-wrapper')[0].innerHTML = '请扫码签到入座, 未扫码入座无效, 离开时请扫码暂离或退座';
                                            $('.seat-operation')[0].innerHTML = '';
                                            $('.seat-operation').append("<div class=\"seat-opertion-btn\" id=\"sign-operation\">扫码入座</div>");
                                            $('#operation-content-wrapper').css('display', 'block');

                                            $("#sign-operation").tap(function () {
                                                wx.scanQRCode({
                                                    needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                                                    scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                                                    success: function (res) {
                                                        var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                                                    }
                                                });
                                            });
                                        }
                                    }
                                    if(seatStatus == 1){
                                        $("#seat-status-span").text('预约');

                                        $('#operation-content-wrapper').css('display', 'none');
                                    }
                                    if(seatStatus == 2){
                                        $("#seat-status-span").text('签到');

                                        $('#msg-content-wrapper')[0].innerHTML = '若座位状态为签到, 实际座位主人不在, 其他读者可扫码将其设为暂离, 暂离时间到, 主人未归, 座位释放, 其他读者可扫码入座';
                                        $('.seat-operation')[0].innerHTML = '';
                                        $('.seat-operation').append("<div class=\"seat-opertion-btn\" id=\"leave-operation\">代暂离</div>");
                                        $('#operation-content-wrapper').css('display', 'block');

                                        $("#leave-operation").tap(function () {
                                            wx.scanQRCode({
                                                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                                                scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
                                                success: function (res) {
                                                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                                                }
                                            });
                                        });
                                    }
                                    if(seatStatus == 3){
                                        $("#seat-status-span").text('暂离');

                                        $('#operation-content-wrapper').css('display', 'none');
                                    }
                                    if(canOrder == 0){
                                        if($('#msg-content-wrapper')[0].innerHTML == ''){
                                            $('#msg-content-wrapper').css('display', 'none');
                                        }
                                        else {
                                            $('#msg-content-wrapper').css('display', 'block');
                                        }
                                    }else{
                                        $('#msg-content-wrapper').css('display', 'none');
                                    }

                                    $('#seat_log_list').css('display', 'block');
                                    var logJson = JSON.parse(responseArr[2]);
                                    $('.seat-log-wrapper').remove();
                                    for(var index = 0; index < logJson.length; index++){
                                        $('#seat_log_list').append("<li class='seat-log-wrapper'><ul class='seat-log'>" +
                                                "<li class='user-header-img'><img width='20' height='20' src='"+ logJson[index].headimgurl.replace('/0','/46')+"'/></li>"+
                                                "<li class='log-time'><span class='time'>"+logJson[index].log_time+"</span></li>"+
                                                "<li class='log-msg'><span class='msg'>"+ logJson[index].log_msg +"</span></li>"+
                                                '</ul></li>');
                                    }
                                    $.hidePreloader();
                                    $.openPanel();
                                });
                        return this.style();
                    }
                });

        //根据手机屏幕自适应缩放
        var clientWidth = document.documentElement.clientWidth;
        var initialContentWidth = $('#content-wrapper').width();
        if (initialContentWidth > clientWidth) {
            $('#content-wrapper').attr('style', '-webkit-transform:scale(' + clientWidth / initialContentWidth + ');-webkit-transform-origin:top left;');
        }
    });

</script>

<% include ../footer.html %>


