<% include ../header.html %>
<style>
    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .list-block .item-content{
        padding: 0;
    }

    .seat-status-card {
        background-color: #f7f7f8;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        border-left: 4px solid #A00000;
    }

    .seat-status-card li {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .classroom {
        width: 40%;
    }

    .seat {
        width: 30%;
    }

    .status {
        width: 30%;
    }
</style>

<div class="page">
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/index/<%= openid %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list" style="margin: 0; padding: 0">
            <a href="#" class="item-link item-content">
                <img src='http://img4.imgtn.bdimg.com/it/u=1826932262,1615325516&fm=11&gp=0.jpg' style="width: 100%; margin: 0; padding: 0; border: 0; display: block">
            </a>
        </div>
        <!--签到成功-->
        <ul class="seat-status-card">
            <li class="classroom">
                <span><%= classroom %></span>
            </li><li class="seat">
                <i class="icon icon-my-seat" style="color: #A00000; padding-right: .5rem"></i><span><%= seat %></span>
            </li><li class="status">
                <i class="icon icon-seat-signed" style="color: #A00000; padding-right: .5rem"></i><span>已签到</span>
            </li>
        </ul>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>
