<% include ../header.html %>
<style>
    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .list-block .item-content{
        padding: 0;
    }

    .seat-status-card {
        /*background-color: #f7f7f8;*/
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        width: 100%;
        /*border-left: 4px solid #A00000;*/
    }

    .seat-status-card li {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .classroom {
        font-size: 1rem;
        text-align: center;
    }

    .seat {
        width: 50%;
    }

    .status {
        width: 50%;
    }

    .seat-operation-card {
        /*background-color: #E2E1D0;*/
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-operation-card li {
        display: inline-block;
        line-height: 2.5rem;
        height: 2.5rem;
        text-align: center;
    }

    .seat-operation{
        width: 50%;
    }

    .seat-opertion-btn{
        display: inline-block;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        text-align: center;
        height: 1.5rem;
        line-height: 1.5rem;
    }

    .seat-log-card-list{
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-log-card{
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-log-card li {
        display: table-cell;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
        font-size: .75rem;
    }

    .user-header-img{
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        padding: 0px;
        display: table-cell;
    }

    .user-header-img img{
        vertical-align: middle;
        border-radius: 10px;
        margin: 0 .7rem;
    }

    .log-time{
    }

    .log-msg{
    }

    .time{
        margin: 0 .75rem 0 0;
    }

    .msg{

    }

    .card-footer, .card-header{
        padding: 0 .75rem;
    }
</style>

<div class="page">
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/index/<%= openid %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <!--<div class="list-block media-list" style="margin: 0; padding: 0">
            <a href="#" class="item-link item-content">
                <img src='http://img4.imgtn.bdimg.com/it/u=1826932262,1615325516&fm=11&gp=0.jpg' style="width: 100%; margin: 0; padding: 0; border: 0; display: block">
            </a>
        </div>-->
        <div class="content-block-title classroom">
             <span><%= classroom %></span>
        </div>
        <% if (statusType == 'signed') {%>
        <!--签到成功-->
        <div class="card">
            <div class="card-header">
                <ul class="seat-status-card">
                    <li class="seat">
                        <i class="icon icon-my-seat" style="color: #A00000; padding-right: .5rem"></i><span><%= seat %> 号</span>
                    </li><li class="status">
                        <i class="icon icon-seat-signed" style="color: #A00000; padding-right: .5rem"></i><span>已签到</span>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <ul class="seat-operation-card">
                    <li class="seat-operation"><div class="seat-opertion-btn">退座</div></li><li class="seat-operation"><div class="seat-opertion-btn">暂离</div></li>
                </ul>
            </div>
            <div class="card-footer">
                <ul class="seat-log-card-list">
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <% } else if (statusType == 'leaved') {%>
        <div class="card">
            <div class="card-header">
                <ul class="seat-status-card">
                    <li class="seat">
                        <i class="icon icon-my-seat" style="color: #A00000; padding-right: .5rem"></i><span><%= seat %> 号</span>
                    </li><li class="status">
                        <i class="icon icon-seat-signed" style="color: #A00000; padding-right: .5rem"></i><span>暂离</span>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <ul class="seat-operation-card">
                    <li class="seat-operation"><div class="seat-opertion-btn">退座</div></li><li class="seat-operation"><div class="seat-opertion-btn">签到</div></li>
                </ul>
            </div>
            <div class="card-footer">
                <ul class="seat-log-card-list">
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="seat-log-card">
                            <li class="user-header-img"><img width="20" height="20" src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJLKaunSsjF2ky7vkXEicrZ21h6StXw0brPib0AUex7LOR42NKU2P0l5sJWPiavjH0h1M8DcmHd02B1aqmcUFcibEJ5sIcKqneLtf4/0"></li><li class="log-time"><span class="time">10:30</span></li><li class="log-msg"><span class="msg">预定</span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <%} else if (statusType == 'prompt') {%>

        <%}%>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>
