<% include ../header.html %>
<style>
    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .seat-status-card{
        background-color: #f7f7f8;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .seat-status-card li{
        display: inline-block;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
    }

    .classroom{
        width: 40%;
    }

    .seat{
        width: 30%;
    }

    .status{
        width: 30%;
    }

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border-left: 4px solid #A00000;
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
</style>

<div class="page">
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/index/<%= openid %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list" style="margin: 0;">
            <ul style="padding: 0;">
                <li style="background: url('../images/headerbg.jpg') no-repeat; background-size: 100%; padding: 1.25rem">
                    <a href="#" class="item-link item-content" style="background-color: rgba(0,0,0,0.4)">

                    </a>
                </li>
            </ul>
        </div>

        <div class="content-block-title">
            <div class="item-media">
                <i class="icon icon-my-seat"></i>
            </div>
            <div class="item-inner">
                <div class="item-title">座位信息</div>
                <div class="item-real-info"></div>
            </div>
        </div>

        <!--签到成功-->
        <ul class="seat-status-card">
            <li class="classroom">
                <span><%= classroom %></span>
            </li><li class="seat">
                <span><%= seat %></span>
            </li><li class="status">
                <span>已签到</span>
            </li>
        </ul>

    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>
