<% include ../header.html %>
<style>
    .list-block {
        margin: 0;
    }

    .card-content-inner {
        background-color: #f7f7f8;
        margin: 1rem;
        padding: 1.5rem;
        font-size: .75rem;
    }

    .list-block .item-link .item-inner {
        background-image: none;
    }

    .list-block .item-after {
        font-size: .75rem;
        color: #A00000;
    }

    .list-block .item-text {
        font-weight: bold;
        height: auto;
    }
</style>

<div class="page">
    <header class="bar bar-nav">
        <h1 class="title">历史座位</h1>
    </header>
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="/building/<%= openid %>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/index/<%= openid %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <!--签到成功-->
        <ul>
            <li class="left_part">
                <span><%= classroom %></span><span><%= seat %></span>
            </li>
            <li class="right_part">
                <span>已签到</span>
            </li>
        </ul>

    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>
