<% include ../header.html %>
<style>
    .card {
        /*background-color: #A61000;
        color: #ffffff;*/
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.35rem;
        text-align: center;
    }

    .card-footer {
        color: #4C3517;
        background-color: #EFD4D4;
    }

    div.card-time:before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 1px;
        width: 100%;
        background-color: #924A4A;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    div.card-time {
        position: relative;
        padding: 0.625rem 0;
    }

    div.card-time-header {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        color: #FFCEA6;
    }

    div.card-time-status {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.25rem;
        color: #FFCEA6;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .content {
        /*background-color: #7A9665;*/
        padding: 1rem 0 0 0;
        background-color: #E7E9ED;
        top: 2rem;
        bottom: 4rem;
    }

    div.date-nav{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        height: 2rem;
    }

    A.date-item{
        width: 50%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
        color: #000000;
        display: block;
        position: relative;
    }

    .date-nav .active{
        color:#00B7FF;
        border-bottom:1px solid #0894ec;
    }
</style>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%= openid %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index/<%= openid %>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item active" id="meTab" href="http://www.julyangel.cn/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content" style="">
        <div class="list-block cards-list">
            <ul id="seat_tickets">
                <li class="card">
                    <div class="card-header">
                        <div style="width: 50%">座位券</div>
                        <div style="width: 50%"><%= seatOrder.start_time.toLocaleDateString()%></div>
                    </div>
                    <div class="card-content">
                        <div class="card-content-inner"><%= seatOrder.full_name %></div>
                        <div class="card-content-inner"><span id="selectedSeatInfo"><%= seatOrder.seat_code %></span></div>
                    </div>
                    <div class="card-footer" id="order-operation">已签到成功</div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>