<% include ../header.html %>
<style>
    .item-subtitle span {
        padding: 0 1.25rem 0 0;
        font-size: 1rem;
        color: #FFFFFF;
    }

    .content-block {
        margin: 0;
        padding: 0;
    }

    .item-text {
        padding: 0.5rem 0 0 0;
    }

    .item-text span {
        color: #FFFFFF;
    }

    .list-block {
        margin: 0;
    }

    .list-block ul:before {
        height: 0;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .card-header {
        font-size: 0.6rem;
    }

    .card-content-inner {
        padding: 0.75rem;
        text-align: center;
    }

    .card-footer {
        color: #000000;
        background-color: #FFFFFF;
        text-align: right;
    }

    div.card-time:before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 0px;
        width: 100%;
        background-color: #924A4A;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    div.card-time {
        position: relative;
        padding: 0.5rem 0;
    }

    div.card-time-header {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        color: #000000;
    }

    div.card-time-status {
        width: 20%;
        float: left;
        text-align: center;
        font-size: 0.5rem;
        line-height: 1.25rem;
        color: #000000;
    }

    .building-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
    }

    .selected-seat-info {
        line-height: 1.25rem;
        padding: 0.25rem 0.75rem;
        font-size: 0.75em;
        width: 40%;
        display: inline-block;
        font-weight: bold;
    }

    .seat-status {
        line-height: 1.25rem;
        color: #A00000;
        font-size: .75em;
        width: 50%;
        text-align: center;
        display: inline-block;
    }

    span.date-info {
        color: #A00000;
        padding: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.comment-info {
        margin: 0 0 0 0.325rem;
        font-size: 0.75em;
    }

    .operation-release, .operation-leave, .operation-sign {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        margin-bottom: 0.55rem;
    }

    .operation-approve-leave, .operation-reject-leave {
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        width: 3.75rem;
        border: 0.0625rem solid #DCC6C6;
        color: #A00000;
        text-align: center;
    }

    .left_part {
        width: 72%;
        float: left;
        line-height: 1rem;
        padding: 0.3125rem;
        font-family: 华文中宋;
        border-right: 1px dashed #332331;
        height: 4.5rem;
        background-color: #FFFFFF;
    }

    .right_part {
        width: 28%;
        float: left;
        padding: 0.55rem 0 0 0;
        text-align: center;
        background-color: #E2E1D0;
        height: 4.5rem;
    }

    .cancel {
        background: url('../images/quxiao.png') no-repeat center;
    }

    .zanli {
        background: url('../images/zanli.png') no-repeat center;
    }

    .card {
        background-color: #FFFFFF;
        color: #000000;
        height: 4.5rem;
        margin: 0 0 .2rem 0;
    }

    .date-row {

    }

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    .content-block-title + .card {
        margin-top: 0;
    }

    .list-block .item-media {
        padding: 0;
    }

    .list-block .item-inner {
        padding: 0;
        min-height: 0;
    }

    .list-block .item-inner:after {
        height: 0px;
    }

    .item-real-info {
    }

    span.start-date-info, span.end-date-info {
        margin: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.leave-status {
        margin: 0.25rem 0.75rem;
        padding: .25rem .5rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    span.leave-wait-for {
        color: #A00000;
        background-color: #E6DEB3;
    }

    span.leave-approve {
        color: #A00000;
        background-color: #7CDA95;
    }

    span.leave-reject {
        color: #E6DEB3;
        background-color: #A00000;
    }

    span.leave-reason {
        color: #A00000;
        margin: 0.25rem 0.75rem;
        line-height: 1.25rem;
        font-size: 0.75em;
    }

    .icon-list .icon {
        display: inline-block;
        box-sizing: border-box;
        width: 32%;
        text-align: center;
    }

    .icon-list .icon-circle {
        display: block;
        margin: 0 auto .45rem auto;
        width: 2rem;
        height: 2rem;
        border-radius: 10rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1.3rem;
        color: #20211B;
        background-color: #E6DEB3;
    }

    .icon-list .icon-desc {
        text-align: center;
        font-size: .65rem;
        color: #666;
    }

    span.leave-important {
        text-decoration: underline;
    }

    .approve-leave-operation-list .approve-leave-operation {
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        text-align: center;
    }

    .my-leave-operation-list .my-leave-operation {
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        text-align: center;
    }

    span.leave-approve-by {
        text-decoration: underline;
    }
</style>

<div class="page">
    <header class="bar bar-nav">
        <h1 class="title">历史假条</h1>
    </header>
    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item active" id="buildingTab" href="http://www.julyangel.cn/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index/<%=openid%>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item" id="meTab" href="http://www.julyangel.cn/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">
        <div class="list-block media-list">
            <ul id="seat_tickets">
                <% for(var index = 0; index < leaveApplications.length; index++) {%>
                <li class="card" style="height: auto; background-color: #FFFFFF; border-left: 4px solid #A00000">
                    <div class="card-content">
                        <div class="card-content-inner" style="text-align: justify; line-height: 1.25rem;font-size:0.625rem;color:#666">
                            <span class="leave-important"><%= leaveApplications[index].applier_real_name %></span>
                            [<%= leaveApplications[index].mobile %>]
                            于
                            <span class="leave-important"><%= leaveApplications[index].start_time.toLocaleString() %></span>
                            至
                            <span class="leave-important"><%= leaveApplications[index].end_time.toLocaleString() %></span>
                            申请请假。请假<span
                                    class="leave-important">事由</span>：[<%= leaveApplications[index].application_reason %>
                            ]。请假去往<span
                                    class="leave-important">地点</span>:[<%= leaveApplications[index].address %>
                            ]。

                            <div class="data-row" style="text-align: right; font-size:0.625rem;">
                                <% if(leaveApplications[index].status == 0){ %>
                                <span class="leave-status leave-wait-for">
                                        待审核
                                     </span>
                                <% } else if(leaveApplications[index].status == 1){ %>
                                <span class="leave-status leave-approve">
                                        准假
                                    </span>
                                    <span class="leave-approve-by">
                                        审核人: <%= leaveApplications[index].approve_by_name %>
                                    </span>
                                <% } else if(leaveApplications[index].status == -1){ %>
                                <span class="leave-status leave-reject">
                                        不准
                                    </span>
                                    <span class="leave-approve-by">
                                        审核人: <%= leaveApplications[index].approve_by_name %>
                                    </span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>