<% include ../header.html %>
<style>
</style>
<div class="page">
    <header class="bar bar-nav">
        <h1 class='title'>请假申请</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="http://www.julyangel.cn/building/<%=openid%>?ip=<%=ip%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="http://www.julyangel.cn/index/<%=openid%>?ip=<%=ip%>" external>
            <span class="icon icon-star"></span>
            <span class="tab-label">七玥星空</span>
        </a>
        <a class="tab-item active" id="meTab" href="http://www.julyangel.cn/me/<%=openid%>?ip=<%=ip%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content">

    </div>
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script>
        $.config = {
            autoInit: true,
            router: false
        }
    </script>
</div>
<% include ../footer.html %>