<% include ../header.html %>
<style>
    .list-block{
        margin: 0;
    }
</style>
<div class="page">
    <header class="bar bar-nav">
        <h1 class='title'>仲裁申请</h1>
    </header>
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="/building/<%=openid%>" external>
            <span class="icon icon-building"></span>
            <span class="tab-label">预约座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%=openid%>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item active" id="meTab" href="/me/<%=openid%>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label"><span id="department_title">阅览室</span></div>
                            <div class="item-input">
                                <input type="text" placeholder="选择您所在的阅览室" id="classroom-picker" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-email"></i></div>
                        <div class="item-inner">
                            <div class="item-title label"><span id="code_title">座位号</span></div>
                            <div class="item-input">
                                <input type="text" placeholder="输入需要仲裁的座位号" id="code-input">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media"><i class="icon icon-form-name"></i></div>
                        <div class="item-inner">
                            <div class="item-title label">仲裁事由</div>
                            <div class="item-input">
                                <textarea placeholder="仲裁事由" id="arbitration-event-input"></textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block">
            <div class="row">
                <div class="col-50"><a href="/me/<%=openid%>" class="button button-big button-fill button-danger">取消</a></div>
                <div class="col-50"><a href="#" class="button button-big button-fill button-success" id="submit-btn">提交</a></div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script>
        $.config = {
            autoInit: true,
            router: false
        }

        $("#classroom-picker").picker({
            toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">请选择你所在的阅览室</h1>\
                          </header>',
            cols: [
                {
                    textAlign: 'center',
                    values:<%=classroomIDArr%>,
                    displayValues:<%= classroomNameArr%>
                }
            ]
        });
    </script>
</div>
<% include ../footer.html %>