<% include ../header.html %>
<style>
    .content-block {
        margin: 0;
        padding: 0;
        top: 2.2rem;
        position: relative;
    }

    .bar {
        /*background-color: #FFFFFF;*/
    }

    .bar:after {
        height: 0;
        background-color: #1D2025;
    }

    .bar-tab:before {
        /*background-color: #33475F;*/
    }

    .content-block-title {
        margin: 0;
        padding: .7rem;
        background-color: #F7F7F8;
        color: #A00000;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        border-left: 4px solid #A00000;
    }

    .content-block-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 1px;
        width: 100%;
        background-color: #EFEFF4;
        display: block;
        z-index: 15;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
</style>
<div class="page">
    <nav class="bar bar-tab">
        <a class="tab-item" id="buildingTab" href="/building/<%= openid %>"
           external>
            <span class="icon icon-building"></span>
            <span class="tab-label">自习座位</span>
        </a>
        <a class="tab-item" id="skyTab" href="/reading/<%= openid %>" external>
            <span class="icon icon-book"></span>
            <span class="tab-label">七玥书斋</span>
        </a>
        <a class="tab-item active" id="meTab" href="/me/<%= openid %>" external>
            <span class="icon icon-me"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    <div class="content" style="background-color: #FFFFFF">
        <header class="bar bar-nav">
            <h1 class="title">申诉请求</h1>
        </header>

        <div class="content-block">
            <div class="list-block cards-list">
                <div class="content-block-title">
                    <div class="item-media">
                        <i class="icon icon-arbitration"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">申请请求</div>
                        <div><a href="/me/oldArbitration/<%= openid %>">已处理申诉 ></a></div>
                    </div>
                </div>

                <% for(var index = 0; index < arbitrationList.length; index++) {%>
                <li class="card" style="height: auto; background-color: #FFFFFF; ">
                    <div class="card-content">
                        <div class="card-content-inner"
                             style="text-align: justify; line-height: 1.25rem;font-size:0.625rem;color:#666">
                            <%= arbitrationList[index].applier_name%> 提交了一个申诉请求, 申诉地点: <%= arbitrationList[index].classroom_full_name%> <%= arbitrationList[index].seat_code%>,
                            申诉事由:<%= arbitrationList[index].description%>, 申诉时间: <%= arbitrationList[index].apply_date.toLocaleString('en-US', {hour12:false})%>
                        </div>
                    </div>
                </li>
                <%}%>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.config = {
        autoInit: true,
        router: false
    }
</script>
<% include ../footer.html %>